<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Racing Boot</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="../images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <style>
        td{
            padding: 10px;
        }
    </style>
</head>
<!-- body -->

<body class="main-layout">
    <!-- header section start -->
    <div class="header_section">
        <%- include('./component/header.ejs') %>
    </div>
    <!-- new collection section start -->
    <div class="collection_text">Giỏ hàng của bạn</div>
    <div class="about_main layout_padding">
        <div class="collectipn_section_3 layout_padding">
            <div class="container">
                <div class="racing_shoes">
                        <div class="row" style="margin-left: 20px; margin-right: 0px; height: 500px;">
                            <table id="cart-table" style="margin: 0px auto; width: 90%;" border="1">
                                <tbody id="cart-table-body">
                                <% if(!products){ %>
                                    <div
                                        style="width: 100%;
                                                                                                                                background-image: url(../images/empty-cart.png);
                                                                                                                                height: 100%;
                                                                                                                                background-repeat: no-repeat;
                                                                                                                                background-position: center; text-align: center;">
                                        <h1>Giỏ Hàng Trống!</h1>
                                    </div>
                                    <%}else{ for(let product of products){ %>
                                        <tr id="<%=product._id%>" data-id="<%=product._id%>">
                                            <td>
                                                <img style="max-width: 200px;top: 50%;left: 50%;position: relative;transform: translate(-50%, 0px);"
                                                    src="../images/products/<%=product.image%>" alt="">
                                            </td>
                                            <td style="word-wrap: break-word;max-width: 150px;">
                                                <%=product._id%>
                                            </td>
                                            <td>
                                                <%=(product.specialPrice>0)?product.specialPrice: product.price%>
                                            </td>
                                            <td><input type="number" id="amount" required></td>
                                            <td><button class="btn btn-cancel" onclick='removeProduct("<%=product._id%>")'>Xóa bỏ</button></td>
                                        </tr>
                                        
                                    <%}}%>
                                    </tbody>
                            </table>
                        </div>
                        <div style="margin-top: 40px;">
                            <div style="float: left; margin-left: 40px;">
                                <a href="/" class="btn btn-danger">Quay lại</a>
                            </div>
                            <% if(products){ %>
                            <div style="float: right; margin-right: 40px;" id="button-layout">
                                <button onclick="sendProducts()" class="btn btn-success" type="button">Tiến hành thanh toán</button>
                            </div>
                            <%}%>
                                </div>
                                </div>
                                </div>
                                </div>
    </div>
    <!-- new collection section end -->
    <!-- section footer start -->
    <%-include('./component/footer.ejs')%>

    <script>
        let tableBody = document.querySelector('#cart-table-body')
        check()
        async function sendProducts() {
            let amounts = document.querySelectorAll('#amount')
            for(let amount of amounts)
            {
                if(!amount.value)
                {
                    alert('Vui lòng nhập số lượng tất cả các sản phẩm!')
                    return fasle
                }
            }
            let rows = document.querySelectorAll("#cart-table tr")
            let products = []

            rows.forEach(o => {
                let id = o.dataset.id
                let amount = o.querySelector('#amount')
                amount = amount ?Number.parseInt(amount.value):1
                products.push({ id, amount })
            })
            let _idUser = '<%=user._id%>'
            fetch('/order/confirm', {
                method: 'POST',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify({ _idUser ,products })
            }).then(async res => {
                let data = await res.json()
                if(data.error)
                {
                    alert(data.error)
                    return false
                }
                else
                    window.location.href = data.redirect
            })
        }
            function removeProduct(id) {
                fetch('/product/remove-from-cart', {
                    method: "DELETE",
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ id })
                }).then(async res => {
                    let data = await res.json()
                    console.log(data)
                    if (data.result) {
                        let tr = document.getElementById(id)
                        tableBody.removeChild(tr)
                        check()
                    }
                })
            }

            function check() {
                if (tableBody.children.length == 0) {
                    document.querySelector('#button-layout').style.display = 'none'
                    let tr = document.createElement('tr')
                    let td = document.createElement('td')
                    let img = document.createElement('img')
                    img.src = '../images/empty-cart.png'
                    img.style = 'top: 50%; left: 50%; position: relative; transform: translate(-50%, 0)'
                    td.appendChild(img)
                    tr.appendChild(td)
                    tableBody.appendChild(tr)
                }
            }
    </script>
</body>

</html>